name: Commit Context

on:
  push:
    branches:
      - main
      - dev
      - debug

jobs:
  get-commit-info:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Push to APICURON
        uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPORT_API_ENDPOINT: https://dev.apicuron.com/api/reports
          REPORT_API_TOKEN: ${{ secrets.REPORT_API_TOKEN }}
          USER_INFO_SERVICE_ENDPOINT: ${{ secrets.USER_INFO_SERVICE_ENDPOINT }}
          USER_INFO_SERVICE_TOKEN: ${{ secrets.USER_INFO_SERVICE_TOKEN }}
          RESOURCE_ID: example_resource
          ACTIVITY_NAME: non-repellat
          LEAGUE: default
